@import "vars";

/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

	.public {
		margin-left: 20%;
		h1 {
			padding: 25px 80px;
			top: 15%;
			left: -20%;
		}
	}

	.sidebar-form {
		padding: 10px 45px 30px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

	.main-nav {
		a {
			font-size: 12px;
			padding-left: 6px;
			padding-right: 6px;
		}
	}

	.public {
		background: url(../img/bg-1-2.jpg) no-repeat center left;
		background-size: cover;
		h1 {
			padding: 25px 50px;
			top: 20%;
		}
	}

	.sidebar-form {
		padding: 15px 20px 30px;
	}

	.pub-theme-item {
		&::after {
			content: "";
			right: 0px;
		}
	}

	.footer-nav {
		display: none;
	}

	.footer-logo {
		margin-bottom: 0;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

	.header-logo {
		text-align: center;
	}

	.header-top {
		padding-top: 15px;
		padding-bottom: 10px;
	}

	.search-block {
		padding-top: 5px;
	}

	.search-form-wrapper {
		.search-field {
			display: none;
			position: absolute;
			width: 200px;
			right: 35px;
			top: -1px;
			z-index: 1;
			padding: 7px;
			border: 1px solid $accent;
			background-color: #fff;
			font-size: 16px;
			color: $accent;
		}
		::-webkit-input-placeholder {
			color: $accent;
			opacity: 1;
		}
		:-moz-placeholder {
			color: $accent;
			opacity: 1;
		}
		::-moz-placeholder {
			color: $accent;
			opacity: 1;
		}
		:-ms-input-placeholder {
			color: $accent;
			opacity: 1;
		}
	}

	.search-btn {
		padding: 10px;
		position: static;
		background: url(../img/search-blue.png) no-repeat center center;
		background-size: cover;
	}
	.user-block-desktop {
		display: none;
	}
	.main-nav .lang-choise-mobile {
		display: inline-block;
		margin-bottom: 20px;
	}
	.user-block-mobile {
		display: block;
	}
	.page-nav-wrapper {
		background-color: transparent;
	}
	.toggle-btn {
		margin-top: 10px;
	}
	.main-nav {
		display: none;
		margin-right: -15px;
		margin-left: -15px;
		padding: 25px 35px 10px;
		li {
			display: block;
			margin-right: 0;
			text-align: left;
		}
		a {
			font-size: 14px;
			padding: 12px 10px 12px 0;
		}
	}

	.public {
		margin-left: 0;
		background: url(../img/bg-1-3.jpg) no-repeat center top;
		background-size: cover;
		h1 {
			padding: 10px 35px;
			left:0;
			top: inherit;
			bottom: 2%;
			background-color: #4891b6;
			box-shadow: none;
			font-family: MuseoSans_700, sans-serif;
			font-size: 16px;
		}
	}

	.add-form-wrapper {
		margin-bottom: 30px;
	}

	.sidebar-form {
		display: none;
		input[type="checkbox"] + label span {
			background-color: transparent;
			border: 1px solid #829cb1;
		}
		input[type="checkbox"]:checked + label span {
			background-color: #829cb1;
			border-color: #829cb1;
		}
		position: absolute;
		z-index: 3;
		top: -30px;
		width: 100%;
		padding: 20px 45px 20px;
		background-color: $accent;
		box-shadow: none;
		margin-right: -15px;
		margin-left: -15px;
		h2 {
			text-transform: inherit;
			color: #fff;
			font-family: MuseoSans_700, sans-serif;
		}
	}

	.publication-type-list {
		padding: 0;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(255,255,255, 0.4);
		li {
			color: rgba(255,255,255, 0.5);
			margin-bottom: 10px;
		}
	}

	.publication-theme-list {
		padding: 0;
		li {
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 10px;
		}
	}

	.pub-theme-item {
		position: relative;
		margin-top: 15px;
		&::after {
			content: "";
			background: none;
		}
		&.opened {
			&::after {
				background: none;
			}
		}
	}

	.subtheme-list {
		padding-top: 15px;
		padding-left: 20px;
		li {
			text-transform: none;
			color: rgba(255,255,255, 0.5);
		}
	}

	.submit-filters {
		text-align: right;
		top: 10px;
		right: 0;
		bottom: auto;
		button {
			border-radius: 4px;
			padding: 12px 15px;
			margin-right: 15px;
			&:hover {
				background-color: lighten($accent, 5%);
			}
			&:active,
			&:focus {
				background-color: darken($accent, 5%);
			}
		}
	}

	.add-form-btn {
		display: block;
	}

	.public-item {
		background-color: #fff;
		min-height: auto;
		margin-right: -15px;
		margin-left: -15px;
		box-shadow: 0 0 15px rgba(0,0,0,0.1);
		margin-bottom: 0;
		padding-left: 10px;
		padding-right: 10px;
		.img-wrapper {
			width: 35%;
			float: left;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-right: 10px;
			margin-left: 5px;
		}
	}

	.public-text {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 10px;
		h3 {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.public-label {
		position: static;
		background-color: #fff;
		width: 100%;
		color: #888;
		text-align: left;
		padding: 15px 10px 15px;
		border-top: 1px solid #d6d6d6;
	}

	.read-more-wrapper {
		bottom: -7px;
	}

	.read-more-btn {
		width: 160px;
	}

	.user-login-bottom {
		display: none;
	}

	.bala-help-bottom {
		text-align: center;
		margin-right: 0;
	}

	.lang-bottom {
		display: none;
	}

	.callback {
		max-height: 480px;
		width: 320px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.header-logo {
		span {
			display: none;
		}
	}

	.toggle-btn {
		margin-top: 10px;
	}

	.search-form-wrapper {
		.search-field {
			top: -6px;
		}
	}

	.public-item {
		.img-wrapper {
			width: 100%;
			float: none;
			text-align: center;
			margin-right: 0px;
			margin-left: 0px;
		}
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}